<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Welcome to Yoda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <style>
      html,
      body {
        font-family: 'PT Sans', sans-serif;
      }

      * {
        box-sizing: border-box;
      }
      .yoda-banner {
        max-width: calc(600px - 50px);
        width: 100%;
        margin: 0 auto;
        height: 300px;
        background: #6548c3;
        /* margin: calc(-300px + 50px) 0 0 0 !important; */
        overflow: hidden;
        position: relative;
        top:  calc(-300px + 50px);
      }
    </style>
  </head>
  <body style="margin: 0; padding: 0; font-family: 'PT Sans', sans-serif;">
    <table
      role="presentation"
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="100%"
    >
      <tr align="center">
        <td>
          <table
            role="presentation"
            width="80%"
            bgcolor="#fbfbfb"
            style="padding: 50px 0"
          >
            <tr>
              <td>
                <table
                  role="presentation"
                  align="center"
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  width="600"
                  style="border-collapse: collapse;"
                  bgcolor="#fff"
                >
                  <tr align="center">
                    <td>
                      <div style="height: 322px; overflow: hidden">
                        <img
                          style="width: 100%; height: 100%; object-fit: cover;"
                          src="https://res.cloudinary.com/dhpbefbky/image/upload/v1619429538/yoda-banner_t6sryb.png"
                        />
                      {{!-- </div>
                      <div class="yoda-banner">
                        <img
                          style="width: 100%; height: 100%; object-fit: cover;"
                          src="https://res.cloudinary.com/dhpbefbky/image/upload/v1619327706/yoda__r_urqa8o.png"
                        />
                      </div> --}}
                    </td>
                  </tr>
                  <tr align="center">
                    <td style="padding: 23px">
                      <h1
                        style="margin: 0; font-size: 48px; color: #6548C3; line-height: 62.11px; "
                      >
                        Welcome!
                      </h1>
                      <h1
                        style="margin: 0; font-size: 48px; color: #6548C3; line-height: 62.11px; "
                      >
                        Let’s get started.
                      </h1>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding: 61px 25px 48px 25px;">
                      <p
                        style="font-weight: 400; margin: 0; font-size: 16px; line-height: 20.7px; letter-spacing: -0.5; margin-bottom: 14px;"
                      >
                        Hey {{name}},
                      </p>
                      <p
                        style="font-weight: 400; margin: 0; font-size: 16px; line-height: 20.7px; letter-spacing: -0.5; margin-bottom: 14px;"
                      >
                        Thanks for signing up!
                      </p>
                      <p
                        style="font-weight: 400; margin: 0; font-size: 16px; line-height: 20.7px; letter-spacing: -0.5;"
                      >
                        Here at Yoda, all hands are on deck to make sure you
                        don’t delay the care you need.
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td style="background: #FBFCFF; height: 48px"></td>
                  </tr>
                  <tr align="center">
                    <td style="padding: 20px 0">
                      <p
                        style="color: #878787; margin: 0; font-size: 24px; line-height: 31.06px; font-weight: 700"
                      >
                        A look at next steps
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding: 75px 25px">
                      <div style="width: 343px; height: 275px">
                        <img
                          style="width: 100%; height: 100%; object-fit: contain;"
                          src="https://res.cloudinary.com/dhpbefbky/image/upload/v1619327869/yoda_text_vmeid6.png"
                          alt="yoda_steps"
                        />
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="background: #FBFCFF; height: 48px"></td>
                  </tr>
                  <tr>
                    <td style="padding: 47px 25px">
                      <p
                        style="color: #323232; margin: 0; font-size: 16px; line-height: 20.7px; font-weight: 400"
                      >
                        In the meantime, you can check our FAQs page if you have
                        any concerns, or you can contact us. Here’s to the start
                        of a healthy relationship.
                      </p>
                    </td>
                  </tr>
                  <tr bgcolor="#FECBC5">
                    <td style="padding: 47px 25px">
                      <table role="presentation" width="100%">
                        <tr align="center" valign="center">
                          <td>
                            <a
                              href="https://web.facebook.com/paywithyoda"
                              style="margin: 0 20px; width: 18px; height: 34px; display: inline-block"
                            >
                              <img
                                style="width: 100%; height: 100%; object-fit: contain"
                                src="https://res.cloudinary.com/dhpbefbky/image/upload/v1619328389/f_nbrm72.png"
                                alt="facebook"
                              />
                            </a>
                            <a
                              href="https://twitter.com/paywithyoda?s=11"
                              style="margin: 0 20px; width: 34px; height: 27px; display: inline-block"
                            >
                              <img
                                style="width: 100%; height: 100%; object-fit: contain"
                                src="https://res.cloudinary.com/dhpbefbky/image/upload/v1619328382/t_tirfed.png"
                                alt="twitter"
                              />
                            </a>
                            <a
                              href="https://instagram.com/paywithyoda?igshid=amfbsoxwwjix"
                              style="margin: 0 20px; width: 34px; height: 32px; display: inline-block"
                            >
                              <img
                                style="width: 100%; height: 100%; object-fit: contain"
                                src="https://res.cloudinary.com/dhpbefbky/image/upload/v1619329337/Instagram_hdxfum.png"
                                alt="instagram"
                              />
                            </a>
                          </td>
                        </tr>
                        <tr align="center">
                          <td style="padding: 24px 0">
                            <p style="font-size: 14px; line-height: 18.12px;">
                              © 2021 Yoda Health.
                            </p>
                          </td>
                        </tr>
                        <tr align="center">
                          <td style="padding: 1px 0">
                            <a
                              style="padding: 12px; color: #6548C3; text-decoration: none"
                              href="https://yodahealth.io"
                              style="font-size: 14px; line-height: 18.12px;"
                              >www.yodahealth.io</a
                            >
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
